.box-add-quesion {
  .wrapper-question-vote {
    .liner-point {
      height: 10% !important;
      padding: 8px !important;
    }
    .wrapper-title {
      min-height: 57px !important;
      max-height: 57px !important;
    }
  }
}
