.BoxViewer {
  .header {
    button {
      margin: auto;
      display: inline-flex;
      height: 30px;
      /* width: 80px; */
      align-items: center;
      justify-content: center;
      position: relative;
      text-align: center;
      overflow-wrap: break-word;
      overflow: hidden;
      border-radius: 8px;
      text-decoration: none;
      transition: background 0.2s ease 0s, border-color 0.2s ease 0s,
        color 0.2s ease 0s, opacity 0.2s ease 0s;
      color: rgb(255, 255, 255);
      background-color: rgb(20, 97, 225);
      padding: 5px;
      text {
        font-family: "Noto Sans JP", Prompt, sans-serif;
        font-size: 1.3rem;
        font-weight: 600;
        line-height: 1.4;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        opacity: 1;
        color: rgb(255, 255, 255);
      }
      &:hover {
        background-color: rgb(17, 81, 188);
      }
    }
  }
  .details-reuqest {
    flex: 2 1;
    visibility: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-right: -7px;
    .box-mic,
    .box-true,
    .box-close {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      i {
        font-size: 1.7rem;
      }
    }
    .box-mic {
      border: 2px solid #222;
      i {
        color: #5e5e60;
        font-size: 1.3rem;
      }
    }
    .box-true {
      background-color: #169b62;
      i {
        color: #fff;
        font-size: 1.6rem;
      }
    }
    .box-close {
      background-color: #cb4545;
      span {
        color: #fff;
        font-size: 2.1rem;
        margin-top: -4px;
      }
    }
  }
  .newBoxViwer {
    height: 100%;
    // overflow-y: scroll;
    width: 100%;
    ul {
      max-height: fit-content !important;
      padding: 0px 8px 70px !important;
      min-height: 100% !important;
      height: 100% !important;
      overflow-y: auto !important;
    }
  }
  .socialBoxViwer {
    padding: 0px 8px 110px !important;
  }
}
